parameters:
	level: max
	inferPrivatePropertyTypeFromConstructor: true
	WPCompat:
		pluginFile: gp-format-csv.php
	scanFiles:
		# GlotPress Stubs
		- %rootDir%/../../pedro-mendonca/glotpress-stubs/glotpress-stubs.php
	paths:
		- gp-format-csv.php
		- includes/
	bootstrapFiles:
		# PHPStan bootstrap file.
		- tests/phpstan/bootstrap.php
